<suite name="PiperTests" verbose="2">
	<listeners>
		<listener class-name="org.testng.reporters.FailedReporter" />
		<listener class-name="org.testng.reporters.JUnitXMLReporter" />
	</listeners>
	<test name="UnitTests">
		<packages>
			<package name="molmed.queue.setup" />
		</packages>
	</test>

	<test name="PipelineTests">
		<parameter name="runpipeline" value="false" />

		<classes>
			
			<!-- The following test will fail without their resource files. Uncommented 
				them to run these tests. -->
			
			<!-- 	
			<class name="molmed.qscripts.DNABestPracticeVariantCallingSnpSeqPipelineTest" />
			<class name="molmed.qscripts.HaloplexSnpSeqPipelineTest" />
			 -->
			 
			<!-- Not yet implemented tests -->
			<!-- <class name="molmed.qscripts.RNACountsPipelineTest" />  -->			
		</classes>
	</test>

</suite>

