<suite name="PiperTests" verbose="2">
	<listeners>
		<listener class-name="org.testng.reporters.FailedReporter" />
		<listener class-name="org.testng.reporters.JUnitXMLReporter" />
	</listeners>
	<test name="UnitTests">
		<packages>
			<package name="molmed.queue.setup" />
		</packages>
	</test>

	<test name="PipelineTests">
		<parameter name="runpipeline" value="true" />

		<classes>
											

			<!--<class name="molmed.qscripts.AlignWithTophatSnpSeqPipelineTest" />
			<class name="molmed.qscripts.AlignmentQCSnpSeqPipelineTest" />-->
			<class name="molmed.qscripts.RNACountsPipelineTest" />
			
			<!-- The following test will fail without their resource files. Uncommented 
				them to run these tests. -->
			<!--			
			<class name="molmed.qscripts.DNABestPracticeVariantCallingSnpSeqPipelineTest" />
			<class name="molmed.qscripts.HaloplexSnpSeqPipelineTest" />
			<class name="molmed.qscripts.CufflinksSnpSeqPipelineTest" />
			<class name="molmed.qscripts.CuffdiffSnpSeqPipelineTest" />
			<class name="molmed.qscripts.MergeBamsBySampleSnpSeqPipelineTest" />
			<class name="molmed.qscripts.RNAQCSnpSeqPipelineTest" />
			-->
			
			<!-- Legacy tests -->
			<!--
				<class name="molmed.qscripts.AlignWithBWASnpSeqPipelineTest" />
				<class name="molmed.qscripts.DataProcessingSnpSeqPipelineTest" />
				<class name="molmed.qscripts.VariantCallingSnpSeqPipelineTest" />
			-->			
		</classes>
	</test>

</suite>

