<suite name="PiperTests" verbose="2">
    <listeners>
        <listener class-name="org.testng.reporters.FailedReporter"/>
        <listener class-name="org.testng.reporters.JUnitXMLReporter"/>
    </listeners>
    <test name="UnitTests">
        <packages>
            <package name="molmed.queue.setup"/>
        </packages>
    </test>
    <test name="PipelineTests">
        <parameter name="pipeline.run" value="run"/>
        <packages>
            <package name="molmed.qscripts"/>
        </packages>
    </test>
</suite>

